.dealsProductList {
    display: flex;
    gap: 15px;
    height: 410px;
    padding: 7px;
    flex-wrap: wrap;
    border: 2px solid;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    margin: 10px 5px;
}
.FeaturedProductsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.FeaturedProductsTop{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.FeaturedProductsTop > h1 {
    font-family: sans-serif;
    color: #120f0f;
}
.timerArrowContainer{
    display: flex;
    height: -webkit-fill-available;
}
.timer{
    background-color: #f9706a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    font-size: 20px;
    font-family: monospace;
    margin: 5px;
}
.arrows {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 10px 0 10px;
    font-size: 20px;
}
.arrows > i {
    background-color: #bdbdbd;
    color: black;
    cursor: pointer;
    height: 7px;
    padding: 5px 7px 18px 7px;
    transition: 0.5s;
}

.arrows > :nth-of-type(1) {
    rotate: 30deg;
}

.arrows > :nth-of-type(2) {
    rotate: -30deg;
}
.arrows > :nth-of-type(1):hover {
    rotate: 0deg;
}
.arrows > :nth-of-type(2):hover {
    rotate: 0deg;
}
.arrows > i:hover {
    background-color: #f9706a;
    color: white;
}